.panel-default {
  border-color: transparent!important;
  font-size: 14px!important;
}

.panel-default .a-panel {
  color: #ccc!important;
  text-decoration: none!important;
}

.panel-body .text-muted {
  font-size: 13px!important;
  text-align: justify!important;
}

.panel-heading {
  background: #ccc!important;
  padding: 8px!important;
  border-radius: 4px 4px 0 0!important;
  margin-top: 10px!important;

  -webkit-box-shadow: 0 8px 6px -6px #888!important;
	   -moz-box-shadow: 0 8px 6px -6px #888!important;
	        box-shadow: 0 8px 6px -6px #888!important;
}

.panel-heading:hover {
  background: #bbb!important;
}

.panel-body {
  border:1px solid #ddd!important;
  margin-bottom: 10px!important;
}

.panel-title {
  font-size: 14px!important;
  margin-bottom: 0px!important;
  color: #3e4061!important;
}
/* .panel a:hover .panel-title,
.panel a:focus .panel-title,
.panel a:active .panel-title {
  color: #1f98cd;
} */

.panel-heading .accordion-toggle:after {
  /* font-family: 'Glyphicons Halflings'; */
  content: "\276E";
  float: right!important;
  color: grey!important;
  font-size: 13px!important;
}

.collapsed .panel-heading .accordion-toggle:after {
  content: "\276F";
  color: grey!important;
}
